name: Rust

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*"
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - name: Build release
        if: startsWith(github.ref, 'refs/tags/')
        run: cargo build --release

      - name: rename
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          BIN="circuitchat"
          EXT=""
          if [ "$RUNNER_OS" = "Windows" ]; then EXT=".exe"; fi
          mv target/release/$BIN$EXT $BIN-$RUNNER_OS$EXT
        shell: bash

      - name: upload to GitHub releases
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            circuitchat-*